<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ResxTranslator.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <ResxTranslator.Properties.Settings>
      <setting name="LastOpenedDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="HideEmptyResources" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddDefaultValuesOnLanguageAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenLastDirOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellEditorWrapContents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LanguageSelectOnlyNeutral" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideNontranslatedResources" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TranslatableInBrackets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNullValuesAsGrayed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReferencePathsFromResourceDir" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellEditorShowWhitespace" serializeAs="String">
        <value>False</value>
      </setting>
    </ResxTranslator.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>