<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.6" targetFramework="net40-client" />
  <package id="Google.Api.Gax" version="3.0.0" targetFramework="net48" />
  <package id="Google.Api.Gax.Rest" version="3.0.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net48" />
  <package id="Google.Apis.Translate.v2" version="1.42.0.875" targetFramework="net48" />
  <package id="Google.Cloud.Translation.V2" version="2.0.0" targetFramework="net48" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net40-client" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>