<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ResxTranslator" Description="Code analysis rules for ResxTranslator.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0145" Action="None" />
  </Rules>
</RuleSet>